[submodule "src/taylor-swift-lyrics"]
	path = src/taylor-swift-lyrics
	url = https://github.com/shaynak/taylor-swift-lyrics.git
[submodule "nick-cave-lyrics"]
	path = nick-cave-lyrics
	url = git@github.com:kdlrose/nick-cave-lyrics.git
