$darkMode: true

@mixin darkMode
    @if($darkMode)
        @media(prefers-color-scheme: dark)
            @content

:root
    --accent: firebrick
    --bg-color: whitesmoke
    --fg-color: dimgray

    @include darkMode
        --accent: firebrick
        --bg-color: black
        --fg-color: mistyrose
